.App {
  min-height: 100vh;
  background-color: #FDFBF7;
}

.container-mobile {
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;
  background-color: #FDFBF7;
}
